In [1]:
from sklearn.datasets import make_classification
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import pandas as pd
import numpy as np

disaster_tweets = pd.read_csv("/home/samtaecay/Downloads/disaster_tweets.csv")

In [3]:
credit_record = pd.read_csv("/home/samtaecay/Downloads/credit_record.csv")
crdf = credit_record.drop_duplicates(subset = ["ID"])
print(crdf)

              ID  MONTHS_BALANCE STATUS
0        5001711               0      X
4        5001712               0      C
23       5001713               0      X
45       5001714               0      X
60       5001715               0      X
120      5001717               0      C
142      5001718               0      C
181      5001719               0      C
224      5001720               0      1
260      5001723               0      X
291      5001724               0      C
322      5001725               0      0
330      5001726               0      C
369      5001728               0      0
370      5001729               0      C
377      5001730               0      C
438      5001731               0      X
449      5001732               0      X
485      5001733               0      X
496      5001734               0      0
499      5001735               0      C
523      5001736               0      C
547      5001737               0      C
569      5001738               0      C
613      5001739               0      C
671      5001742               0      C
718      5001743               0      C
759      5001744               0      C
788      5001745               0      X
799      5001746               0      X
...          ...             ...    ...
1047944  5150417             -11      C
1047971  5150419               0      C
1048011  5150420               0      C
1048041  5150421               0      C
1048069  5150422               0      C
1048095  5150423               0      C
1048108  5150428              -5      X
1048117  5150429               0      0
1048125  5150451               0      0
1048130  5150459               0      C
1048182  5150460               0      X
1048221  5150463               0      1
1048232  5150464               0      C
1048254  5150465               0      0
1048265  5150466               0      0
1048267  5150467             -46      X
1048274  5150468               0      0
1048280  5150473               0      0
1048315  5150475               0      C
1048359  5150476             -13      X
1048381  5150477               0      X
1048402  5150478               0      C
1048416  5150479               0      C
1048425  5150480             -24      C
1048451  5150481               0      X
1048494  5150482             -11      C
1048512  5150483               0      X
1048530  5150484               0      C
1048543  5150485               0      0
1048545  5150487               0      C

[45985 rows x 3 columns]

In [4]:
application_record = pd.read_csv("/home/samtaecay/Downloads/application_record.csv")
ardf = application_record.drop_duplicates(subset = ["ID"])
print(ardf)

             ID CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY  CNT_CHILDREN  \
0       5008804           M            Y               Y             0
1       5008805           M            Y               Y             0
2       5008806           M            Y               Y             0
3       5008808           F            N               Y             0
4       5008809           F            N               Y             0
5       5008810           F            N               Y             0
6       5008811           F            N               Y             0
7       5008812           F            N               Y             0
8       5008813           F            N               Y             0
9       5008814           F            N               Y             0
10      5008815           M            Y               Y             0
11      5112956           M            Y               Y             0
12      6153651           M            Y               Y             0
13      5008819           M            Y               Y             0
14      5008820           M            Y               Y             0
15      5008821           M            Y               Y             0
16      5008822           M            Y               Y             0
17      5008823           M            Y               Y             0
18      5008824           M            Y               Y             0
19      5008825           F            Y               N             0
20      5008826           F            Y               N             0
21      5008830           F            N               Y             0
22      5008831           F            N               Y             0
23      5008832           F            N               Y             0
24      5008834           F            N               Y             1
25      5008835           F            N               Y             1
26      6153712           F            N               Y             1
27      5008836           M            Y               Y             3
28      5008837           M            Y               Y             3
29      5008838           M            N               Y             1
...         ...         ...          ...             ...           ...
438527  6836826           F            N               Y             0
438528  6836901           F            N               Y             0
438529  6836902           F            N               Y             0
438530  6836990           M            N               N             0
438531  6836991           F            N               N             0
438532  6836995           F            N               N             0
438533  6837198           F            N               N             0
438534  6837235           F            N               Y             0
438535  6837236           F            N               Y             0
438536  6837264           F            N               N             2
438537  6837450           M            N               Y             1
438538  6837452           M            N               N             1
438539  6837454           M            Y               Y             1
438540  6837493           M            N               Y             0
438541  6837707           M            N               Y             0
438542  6837905           M            Y               Y             1
438543  6837906           M            Y               Y             1
438544  6838056           F            N               Y             0
438545  6839651           F            N               Y             3
438546  6839890           F            N               N             0
438547  6839917           F            N               Y             0
438548  6839936           M            Y               Y             1
438549  6840098           F            N               Y             0
438550  6840100           F            N               Y             0
438551  6840102           F            N               Y             0
438552  6840104           M            N               Y             0
438553  6840222           F            N               N             0
438554  6841878           F            N               N             0
438555  6842765           F            N               Y             0
438556  6842885           F            N               Y             0

        AMT_INCOME_TOTAL      NAME_INCOME_TYPE            NAME_EDUCATION_TYPE  \
0               427500.0               Working               Higher education
1               427500.0               Working               Higher education
2               112500.0               Working  Secondary / secondary special
3               270000.0  Commercial associate  Secondary / secondary special
4               270000.0  Commercial associate  Secondary / secondary special
5               270000.0  Commercial associate  Secondary / secondary special
6               270000.0  Commercial associate  Secondary / secondary special
7               283500.0             Pensioner               Higher education
8               283500.0             Pensioner               Higher education
9               283500.0             Pensioner               Higher education
10              270000.0               Working               Higher education
11              270000.0               Working               Higher education
12              270000.0               Working               Higher education
13              135000.0  Commercial associate  Secondary / secondary special
14              135000.0  Commercial associate  Secondary / secondary special
15              135000.0  Commercial associate  Secondary / secondary special
16              135000.0  Commercial associate  Secondary / secondary special
17              135000.0  Commercial associate  Secondary / secondary special
18              135000.0  Commercial associate  Secondary / secondary special
19              130500.0               Working              Incomplete higher
20              130500.0               Working              Incomplete higher
21              157500.0               Working  Secondary / secondary special
22              157500.0               Working  Secondary / secondary special
23              157500.0               Working  Secondary / secondary special
24              112500.0               Working  Secondary / secondary special
25              112500.0               Working  Secondary / secondary special
26              112500.0               Working  Secondary / secondary special
27              270000.0               Working  Secondary / secondary special
28              270000.0               Working  Secondary / secondary special
29              405000.0  Commercial associate               Higher education
...                  ...                   ...                            ...
438527           90000.0             Pensioner  Secondary / secondary special
438528          315000.0             Pensioner  Secondary / secondary special
438529          315000.0             Pensioner  Secondary / secondary special
438530          360000.0  Commercial associate               Higher education
438531          360000.0  Commercial associate               Higher education
438532          360000.0  Commercial associate               Higher education
438533          211500.0             Pensioner               Higher education
438534          135000.0               Working  Secondary / secondary special
438535          135000.0               Working  Secondary / secondary special
438536           90000.0         State servant               Higher education
438537          135000.0               Working  Secondary / secondary special
438538          135000.0               Working  Secondary / secondary special
438539          162000.0         State servant  Secondary / secondary special
438540          180000.0             Pensioner  Secondary / secondary special
438541          202500.0               Working               Higher education
438542          355050.0               Working  Secondary / secondary special
438543          355050.0               Working  Secondary / secondary special
438544          135000.0         State servant  Secondary / secondary special
438545           99000.0             Pensioner  Secondary / secondary special
438546          157500.0             Pensioner  Secondary / secondary special
438547          180000.0             Pensioner               Higher education
438548          135000.0               Working  Secondary / secondary special
438549          135000.0             Pensioner  Secondary / secondary special
438550          135000.0             Pensioner  Secondary / secondary special
438551          135000.0             Pensioner  Secondary / secondary special
438552          135000.0             Pensioner  Secondary / secondary special
438553          103500.0               Working  Secondary / secondary special
438554           54000.0  Commercial associate               Higher education
438555           72000.0             Pensioner  Secondary / secondary special
438556          121500.0               Working  Secondary / secondary special

          NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  DAYS_BIRTH  DAYS_EMPLOYED  \
0             Civil marriage   Rented apartment      -12005          -4542
1             Civil marriage   Rented apartment      -12005          -4542
2                    Married  House / apartment      -21474          -1134
3       Single / not married  House / apartment      -19110          -3051
4       Single / not married  House / apartment      -19110          -3051
5       Single / not married  House / apartment      -19110          -3051
6       Single / not married  House / apartment      -19110          -3051
7                  Separated  House / apartment      -22464         365243
8                  Separated  House / apartment      -22464         365243
9                  Separated  House / apartment      -22464         365243
10                   Married  House / apartment      -16872           -769
11                   Married  House / apartment      -16872           -769
12                   Married  House / apartment      -16872           -769
13                   Married  House / apartment      -17778          -1194
14                   Married  House / apartment      -17778          -1194
15                   Married  House / apartment      -17778          -1194
16                   Married  House / apartment      -17778          -1194
17                   Married  House / apartment      -17778          -1194
18                   Married  House / apartment      -17778          -1194
19                   Married  House / apartment      -10669          -1103
20                   Married  House / apartment      -10669          -1103
21                   Married  House / apartment      -10031          -1469
22                   Married  House / apartment      -10031          -1469
23                   Married  House / apartment      -10031          -1469
24      Single / not married  House / apartment      -10968          -1620
25      Single / not married  House / apartment      -10968          -1620
26      Single / not married  House / apartment      -10968          -1620
27                   Married  House / apartment      -12689          -1163
28                   Married  House / apartment      -12689          -1163
29                   Married  House / apartment      -11842          -2016
...                      ...                ...         ...            ...
438527               Married  House / apartment      -22219         365243
438528             Separated  House / apartment      -21976         365243
438529             Separated  House / apartment      -21976         365243
438530             Separated  House / apartment      -16374           -606
438531             Separated  House / apartment      -16374           -606
438532             Separated  House / apartment      -16374           -606
438533             Separated  House / apartment      -20490         365243
438534               Married  House / apartment      -13589          -1093
438535               Married  House / apartment      -13589          -1093
438536  Single / not married  House / apartment      -16062          -1275
438537             Separated  House / apartment      -12972           -179
438538             Separated  House / apartment      -12972           -179
438539               Married  House / apartment      -10890          -2675
438540               Married  House / apartment      -22845         365243
438541        Civil marriage  House / apartment      -13510          -2309
438542               Married  House / apartment      -15904          -2614
438543               Married  House / apartment      -15904          -2614
438544               Married  House / apartment      -18997           -483
438545  Single / not married  House / apartment      -18832         365243
438546  Single / not married  House / apartment      -22551         365243
438547               Married  House / apartment      -10966          -2704
438548               Married  House / apartment      -12569          -2095
438549             Separated  House / apartment      -22717         365243
438550             Separated  House / apartment      -22717         365243
438551             Separated  House / apartment      -22717         365243
438552             Separated  House / apartment      -22717         365243
438553  Single / not married  House / apartment      -15939          -3007
438554  Single / not married       With parents       -8169           -372
438555               Married  House / apartment      -21673         365243
438556               Married  House / apartment      -18858          -1201

        FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL OCCUPATION_TYPE  \
0                1                1           0           0             NaN
1                1                1           0           0             NaN
2                1                0           0           0  Security staff
3                1                0           1           1     Sales staff
4                1                0           1           1     Sales staff
5                1                0           1           1     Sales staff
6                1                0           1           1     Sales staff
7                1                0           0           0             NaN
8                1                0           0           0             NaN
9                1                0           0           0             NaN
10               1                1           1           1     Accountants
11               1                1           1           1     Accountants
12               1                1           1           1     Accountants
13               1                0           0           0        Laborers
14               1                0           0           0        Laborers
15               1                0           0           0        Laborers
16               1                0           0           0        Laborers
17               1                0           0           0        Laborers
18               1                0           0           0        Laborers
19               1                0           0           0     Accountants
20               1                0           0           0     Accountants
21               1                0           1           0        Laborers
22               1                0           1           0        Laborers
23               1                0           1           0        Laborers
24               1                0           0           0             NaN
25               1                0           0           0             NaN
26               1                0           0           0             NaN
27               1                0           0           0        Laborers
28               1                0           0           0        Laborers
29               1                0           0           0        Managers
...            ...              ...         ...         ...             ...
438527           1                0           0           0             NaN
438528           1                0           0           0             NaN
438529           1                0           0           0             NaN
438530           1                0           0           0        Managers
438531           1                0           0           0        Managers
438532           1                0           0           0        Managers
438533           1                0           0           0             NaN
438534           1                0           0           0        Laborers
438535           1                0           0           0        Laborers
438536           1                0           0           0      Core staff
438537           1                0           0           0  Security staff
438538           1                0           0           0  Security staff
438539           1                0           0           0      Core staff
438540           1                0           1           0             NaN
438541           1                1           0           0        Laborers
438542           1                0           0           0             NaN
438543           1                0           0           0             NaN
438544           1                0           0           0             NaN
438545           1                0           0           0             NaN
438546           1                0           0           0             NaN
438547           1                0           0           0             NaN
438548           1                0           0           0        Laborers
438549           1                0           0           0             NaN
438550           1                0           0           0             NaN
438551           1                0           0           0             NaN
438552           1                0           0           0             NaN
438553           1                0           0           0        Laborers
438554           1                1           0           0     Sales staff
438555           1                0           0           0             NaN
438556           1                0           1           0     Sales staff

        CNT_FAM_MEMBERS
0                   2.0
1                   2.0
2                   2.0
3                   1.0
4                   1.0
5                   1.0
6                   1.0
7                   1.0
8                   1.0
9                   1.0
10                  2.0
11                  2.0
12                  2.0
13                  2.0
14                  2.0
15                  2.0
16                  2.0
17                  2.0
18                  2.0
19                  2.0
20                  2.0
21                  2.0
22                  2.0
23                  2.0
24                  2.0
25                  2.0
26                  2.0
27                  5.0
28                  5.0
29                  3.0
...                 ...
438527              2.0
438528              1.0
438529              1.0
438530              1.0
438531              1.0
438532              1.0
438533              1.0
438534              2.0
438535              2.0
438536              4.0
438537              2.0
438538              2.0
438539              3.0
438540              2.0
438541              2.0
438542              3.0
438543              3.0
438544              2.0
438545              1.0
438546              1.0
438547              2.0
438548              3.0
438549              1.0
438550              1.0
438551              1.0

In [10]:
cardf = pd.merge(crdf, ardf, 
                   on='ID', 
                   how='inner')
print(cardf)

            ID  MONTHS_BALANCE STATUS CODE_GENDER FLAG_OWN_CAR  \
0      5008804               0      C           M            Y
1      5008805               0      C           M            Y
2      5008806               0      C           M            Y
3      5008808               0      0           F            N
4      5008809             -22      X           F            N
5      5008810               0      C           F            N
6      5008811               0      C           F            N
7      5008812              -4      0           F            N
8      5008813               0      0           F            N
9      5008814              -1      0           F            N
10     5008815               0      0           M            Y
11     5008819             -10      X           M            Y
12     5008820              -8      X           M            Y
13     5008821               0      X           M            Y
14     5008822             -14      X           M            Y
15     5008823              -3      X           M            Y
16     5008824               0      0           M            Y
17     5008825               0      0           F            Y
18     5008826              -1      C           F            Y
19     5008827               0      C           M            Y
20     5008830               0      C           F            N
21     5008831               0      C           F            N
22     5008832               0      C           F            N
23     5008834               0      C           F            N
24     5008835             -28      X           F            N
25     5008836              -8      C           M            Y
26     5008837              -2      C           M            Y
27     5008838              -9      X           M            N
28     5008839               0      C           M            N
29     5008840               0      C           M            N
...        ...             ...    ...         ...          ...
36427  5150417             -11      C           F            N
36428  5150419               0      C           F            N
36429  5150420               0      C           F            N
36430  5150421               0      C           F            N
36431  5150422               0      C           F            N
36432  5150423               0      C           F            N
36433  5150428              -5      X           M            Y
36434  5150429               0      0           M            Y
36435  5150451               0      0           F            N
36436  5150459               0      C           F            Y
36437  5150460               0      X           F            Y
36438  5150463               0      1           F            Y
36439  5150464               0      C           F            Y
36440  5150465               0      0           F            Y
36441  5150466               0      0           F            Y
36442  5150467             -46      X           F            N
36443  5150468               0      0           F            N
36444  5150473               0      0           M            Y
36445  5150475               0      C           M            Y
36446  5150476             -13      X           M            Y
36447  5150477               0      X           M            Y
36448  5150478               0      C           M            Y
36449  5150479               0      C           F            N
36450  5150480             -24      C           F            Y
36451  5150481               0      X           F            Y
36452  5150482             -11      C           F            Y
36453  5150483               0      X           F            Y
36454  5150484               0      C           F            Y
36455  5150485               0      0           F            Y
36456  5150487               0      C           M            Y

      FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
0                   Y             0          427500.0               Working
1                   Y             0          427500.0               Working
2                   Y             0          112500.0               Working
3                   Y             0          270000.0  Commercial associate
4                   Y             0          270000.0  Commercial associate
5                   Y             0          270000.0  Commercial associate
6                   Y             0          270000.0  Commercial associate
7                   Y             0          283500.0             Pensioner
8                   Y             0          283500.0             Pensioner
9                   Y             0          283500.0             Pensioner
10                  Y             0          270000.0               Working
11                  Y             0          135000.0  Commercial associate
12                  Y             0          135000.0  Commercial associate
13                  Y             0          135000.0  Commercial associate
14                  Y             0          135000.0  Commercial associate
15                  Y             0          135000.0  Commercial associate
16                  Y             0          135000.0  Commercial associate
17                  N             0          130500.0               Working
18                  N             0          130500.0               Working
19                  Y             0          180000.0             Pensioner
20                  Y             0          157500.0               Working
21                  Y             0          157500.0               Working
22                  Y             0          157500.0               Working
23                  Y             1          112500.0               Working
24                  Y             1          112500.0               Working
25                  Y             3          270000.0               Working
26                  Y             3          270000.0               Working
27                  Y             1          405000.0  Commercial associate
28                  Y             1          405000.0  Commercial associate
29                  Y             1          405000.0  Commercial associate
...               ...           ...               ...                   ...
36427               Y             0           67500.0             Pensioner
36428               Y             0           67500.0             Pensioner
36429               Y             0           67500.0             Pensioner
36430               Y             0           67500.0             Pensioner
36431               Y             0           67500.0             Pensioner
36432               Y             0           67500.0             Pensioner
36433               Y             0          112500.0               Working
36434               Y             0          112500.0               Working
36435               Y             1          135000.0               Working
36436               Y             1          112500.0               Working
36437               Y             1          112500.0               Working
36438               Y             1          112500.0               Working
36439               Y             1          112500.0               Working
36440               Y             1          112500.0               Working
36441               Y             1          112500.0               Working
36442               Y             0          180000.0               Working
36443               Y             0          180000.0               Working
36444               Y             0          202500.0               Working
36445               Y             0          202500.0               Working
36446               Y             0          202500.0               Working
36447               Y             0          202500.0               Working
36448               Y             0          202500.0               Working
36449               N             0           90000.0               Working
36450               Y             1          157500.0               Working
36451               Y             1          157500.0               Working
36452               Y             1          157500.0               Working
36453               Y             1          157500.0               Working
36454               Y             1          157500.0               Working
36455               Y             1          157500.0               Working
36456               N             0          202500.0               Working

                 NAME_EDUCATION_TYPE    NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  \
0                   Higher education        Civil marriage   Rented apartment
1                   Higher education        Civil marriage   Rented apartment
2      Secondary / secondary special               Married  House / apartment
3      Secondary / secondary special  Single / not married  House / apartment
4      Secondary / secondary special  Single / not married  House / apartment
5      Secondary / secondary special  Single / not married  House / apartment
6      Secondary / secondary special  Single / not married  House / apartment
7                   Higher education             Separated  House / apartment
8                   Higher education             Separated  House / apartment
9                   Higher education             Separated  House / apartment
10                  Higher education               Married  House / apartment
11     Secondary / secondary special               Married  House / apartment
12     Secondary / secondary special               Married  House / apartment
13     Secondary / secondary special               Married  House / apartment
14     Secondary / secondary special               Married  House / apartment
15     Secondary / secondary special               Married  House / apartment
16     Secondary / secondary special               Married  House / apartment
17                 Incomplete higher               Married  House / apartment
18                 Incomplete higher               Married  House / apartment
19                  Higher education               Married  House / apartment
20     Secondary / secondary special               Married  House / apartment
21     Secondary / secondary special               Married  House / apartment
22     Secondary / secondary special               Married  House / apartment
23     Secondary / secondary special  Single / not married  House / apartment
24     Secondary / secondary special  Single / not married  House / apartment
25     Secondary / secondary special               Married  House / apartment
26     Secondary / secondary special               Married  House / apartment
27                  Higher education               Married  House / apartment
28                  Higher education               Married  House / apartment
29                  Higher education               Married  House / apartment
...                              ...                   ...                ...
36427  Secondary / secondary special                 Widow  House / apartment
36428  Secondary / secondary special                 Widow  House / apartment
36429  Secondary / secondary special                 Widow  House / apartment
36430  Secondary / secondary special                 Widow  House / apartment
36431  Secondary / secondary special                 Widow  House / apartment
36432  Secondary / secondary special                 Widow  House / apartment
36433  Secondary / secondary special  Single / not married  House / apartment
36434  Secondary / secondary special  Single / not married  House / apartment
36435  Secondary / secondary special               Married  House / apartment
36436  Secondary / secondary special               Married  House / apartment
36437  Secondary / secondary special               Married  House / apartment
36438  Secondary / secondary special               Married  House / apartment
36439  Secondary / secondary special               Married  House / apartment
36440  Secondary / secondary special               Married  House / apartment
36441  Secondary / secondary special               Married  House / apartment
36442  Secondary / secondary special               Married  House / apartment
36443  Secondary / secondary special               Married  House / apartment
36444  Secondary / secondary special        Civil marriage  House / apartment
36445  Secondary / secondary special        Civil marriage  House / apartment
36446  Secondary / secondary special        Civil marriage  House / apartment
36447  Secondary / secondary special        Civil marriage  House / apartment
36448  Secondary / secondary special        Civil marriage  House / apartment
36449               Higher education               Married       With parents
36450  Secondary / secondary special               Married  House / apartment
36451  Secondary / secondary special               Married  House / apartment
36452  Secondary / secondary special               Married  House / apartment
36453  Secondary / secondary special               Married  House / apartment
36454  Secondary / secondary special               Married  House / apartment
36455  Secondary / secondary special               Married  House / apartment
36456  Secondary / secondary special               Married  House / apartment

       DAYS_BIRTH  DAYS_EMPLOYED  FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  \
0          -12005          -4542           1                1           0
1          -12005          -4542           1                1           0
2          -21474          -1134           1                0           0
3          -19110          -3051           1                0           1
4          -19110          -3051           1                0           1
5          -19110          -3051           1                0           1
6          -19110          -3051           1                0           1
7          -22464         365243           1                0           0
8          -22464         365243           1                0           0
9          -22464         365243           1                0           0
10         -16872           -769           1                1           1
11         -17778          -1194           1                0           0
12         -17778          -1194           1                0           0
13         -17778          -1194           1                0           0
14         -17778          -1194           1                0           0
15         -17778          -1194           1                0           0
16         -17778          -1194           1                0           0
17         -10669          -1103           1                0           0
18         -10669          -1103           1                0           0
19         -18772         365243           1                0           0
20         -10031          -1469           1                0           1
21         -10031          -1469           1                0           1
22         -10031          -1469           1                0           1
23         -10968          -1620           1                0           0
24         -10968          -1620           1                0           0
25         -12689          -1163           1                0           0
26         -12689          -1163           1                0           0
27         -11842          -2016           1                0           0
28         -11842          -2016           1                0           0
29         -11842          -2016           1                0           0
...           ...            ...         ...              ...         ...
36427      -22116         365243           1                0           0
36428      -22116         365243           1                0           0
36429      -22116         365243           1                0           0
36430      -22116         365243           1                0           0
36431      -22116         365243           1                0           0
36432      -22116         365243           1                0           0
36433       -9874          -1650           1                1           0
36434       -9874          -1650           1                1           0
36435      -16302          -8894           1                0           0
36436      -14234           -309           1                0           0
36437      -14234           -309           1                0           0
36438      -14234           -309           1                0           0
36439      -14234           -309           1                0           0
36440      -14234           -309           1                0           0
36441      -14234           -309           1                0           0
36442      -17713          -2441           1                0           0
36443      -17713          -2441           1                0           0
36444      -10886          -1315           1                1           0
36445      -10886          -1315           1                1           0
36446      -10886          -1315           1                1           0
36447      -10886          -1315           1                1           0
36448      -10886          -1315           1                1           0
36449      -12414           -128           1                0           0
36450      -10808          -1739           1                0           0
36451      -10808          -1739           1                0           0
36452      -10808          -1739           1                0           0
36453      -10808          -1739           1                0           0
36454      -10808          -1739           1                0           0
36455      -10808          -1739           1                0           0
36456      -19398          -2166           1                0           0

       FLAG_EMAIL OCCUPATION_TYPE  CNT_FAM_MEMBERS
0               0             NaN              2.0
1               0             NaN              2.0
2               0  Security staff              2.0
3               1     Sales staff              1.0
4               1     Sales staff              1.0
5               1     Sales staff              1.0
6               1     Sales staff              1.0
7               0             NaN              1.0
8               0             NaN              1.0
9               0             NaN              1.0
10              1     Accountants              2.0
11              0        Laborers              2.0
12              0        Laborers              2.0
13              0        Laborers              2.0
14              0        Laborers              2.0
15              0        Laborers              2.0
16              0        Laborers              2.0
17              0     Accountants              2.0
18              0     Accountants              2.0
19              0             NaN              2.0
20              0        Laborers              2.0
21              0        Laborers              2.0
22              0        Laborers              2.0
23              0             NaN              2.0
24              0             NaN              2.0
25              0        Laborers              5.0
26              0        Laborers              5.0
27              0        Managers              3.0
28              0        Managers              3.0
29              0        Managers              3.0
...           ...             ...              ...
36427           0             NaN              1.0
36428           0             NaN              1.0
36429           0             NaN              1.0
36430           0             NaN              1.0
36431           0             NaN              1.0
36432           0             NaN              1.0

In [11]:
gendf = pd.get_dummies(cardf.CODE_GENDER)
stadf = pd.get_dummies(cardf.STATUS)
carrdf = pd.get_dummies(cardf.FLAG_OWN_CAR)
itdf = pd.get_dummies(cardf.NAME_INCOME_TYPE)
famdf = pd.get_dummies(cardf.NAME_FAMILY_STATUS)
houdf = pd.get_dummies(cardf.NAME_HOUSING_TYPE)
edudf = pd.get_dummies(cardf.NAME_EDUCATION_TYPE)
occdf = pd.get_dummies(cardf.OCCUPATION_TYPE)
mergeoh = [gendf, stadf, carrdf, itdf, famdf, houdf, edudf, occdf]
oneshotmerge = pd.concat(mergeoh, axis = 'columns')
osfinal = oneshotmerge.drop(['M','C', 'Y','Secretaries', 'Married', 'With parents', 'Higher education', 'Pensioner'], axis='columns')

In [12]:
cardfos = pd.concat([cardf,osfinal], axis = 'columns')
print(cardfos)

            ID  MONTHS_BALANCE STATUS CODE_GENDER FLAG_OWN_CAR  \
0      5008804               0      C           M            Y
1      5008805               0      C           M            Y
2      5008806               0      C           M            Y
3      5008808               0      0           F            N
4      5008809             -22      X           F            N
5      5008810               0      C           F            N
6      5008811               0      C           F            N
7      5008812              -4      0           F            N
8      5008813               0      0           F            N
9      5008814              -1      0           F            N
10     5008815               0      0           M            Y
11     5008819             -10      X           M            Y
12     5008820              -8      X           M            Y
13     5008821               0      X           M            Y
14     5008822             -14      X           M            Y
15     5008823              -3      X           M            Y
16     5008824               0      0           M            Y
17     5008825               0      0           F            Y
18     5008826              -1      C           F            Y
19     5008827               0      C           M            Y
20     5008830               0      C           F            N
21     5008831               0      C           F            N
22     5008832               0      C           F            N
23     5008834               0      C           F            N
24     5008835             -28      X           F            N
25     5008836              -8      C           M            Y
26     5008837              -2      C           M            Y
27     5008838              -9      X           M            N
28     5008839               0      C           M            N
29     5008840               0      C           M            N
...        ...             ...    ...         ...          ...
36427  5150417             -11      C           F            N
36428  5150419               0      C           F            N
36429  5150420               0      C           F            N
36430  5150421               0      C           F            N
36431  5150422               0      C           F            N
36432  5150423               0      C           F            N
36433  5150428              -5      X           M            Y
36434  5150429               0      0           M            Y
36435  5150451               0      0           F            N
36436  5150459               0      C           F            Y
36437  5150460               0      X           F            Y
36438  5150463               0      1           F            Y
36439  5150464               0      C           F            Y
36440  5150465               0      0           F            Y
36441  5150466               0      0           F            Y
36442  5150467             -46      X           F            N
36443  5150468               0      0           F            N
36444  5150473               0      0           M            Y
36445  5150475               0      C           M            Y
36446  5150476             -13      X           M            Y
36447  5150477               0      X           M            Y
36448  5150478               0      C           M            Y
36449  5150479               0      C           F            N
36450  5150480             -24      C           F            Y
36451  5150481               0      X           F            Y
36452  5150482             -11      C           F            Y
36453  5150483               0      X           F            Y
36454  5150484               0      C           F            Y
36455  5150485               0      0           F            Y
36456  5150487               0      C           M            Y

      FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
0                   Y             0          427500.0               Working
1                   Y             0          427500.0               Working
2                   Y             0          112500.0               Working
3                   Y             0          270000.0  Commercial associate
4                   Y             0          270000.0  Commercial associate
5                   Y             0          270000.0  Commercial associate
6                   Y             0          270000.0  Commercial associate
7                   Y             0          283500.0             Pensioner
8                   Y             0          283500.0             Pensioner
9                   Y             0          283500.0             Pensioner
10                  Y             0          270000.0               Working
11                  Y             0          135000.0  Commercial associate
12                  Y             0          135000.0  Commercial associate
13                  Y             0          135000.0  Commercial associate
14                  Y             0          135000.0  Commercial associate
15                  Y             0          135000.0  Commercial associate
16                  Y             0          135000.0  Commercial associate
17                  N             0          130500.0               Working
18                  N             0          130500.0               Working
19                  Y             0          180000.0             Pensioner
20                  Y             0          157500.0               Working
21                  Y             0          157500.0               Working
22                  Y             0          157500.0               Working
23                  Y             1          112500.0               Working
24                  Y             1          112500.0               Working
25                  Y             3          270000.0               Working
26                  Y             3          270000.0               Working
27                  Y             1          405000.0  Commercial associate
28                  Y             1          405000.0  Commercial associate
29                  Y             1          405000.0  Commercial associate
...               ...           ...               ...                   ...
36427               Y             0           67500.0             Pensioner
36428               Y             0           67500.0             Pensioner
36429               Y             0           67500.0             Pensioner
36430               Y             0           67500.0             Pensioner
36431               Y             0           67500.0             Pensioner
36432               Y             0           67500.0             Pensioner
36433               Y             0          112500.0               Working
36434               Y             0          112500.0               Working
36435               Y             1          135000.0               Working
36436               Y             1          112500.0               Working
36437               Y             1          112500.0               Working
36438               Y             1          112500.0               Working
36439               Y             1          112500.0               Working
36440               Y             1          112500.0               Working
36441               Y             1          112500.0               Working
36442               Y             0          180000.0               Working
36443               Y             0          180000.0               Working
36444               Y             0          202500.0               Working
36445               Y             0          202500.0               Working
36446               Y             0          202500.0               Working
36447               Y             0          202500.0               Working
36448               Y             0          202500.0               Working
36449               N             0           90000.0               Working
36450               Y             1          157500.0               Working
36451               Y             1          157500.0               Working
36452               Y             1          157500.0               Working
36453               Y             1          157500.0               Working
36454               Y             1          157500.0               Working
36455               Y             1          157500.0               Working
36456               N             0          202500.0               Working

                 NAME_EDUCATION_TYPE          ...          IT staff Laborers  \
0                   Higher education          ...                 0        0
1                   Higher education          ...                 0        0
2      Secondary / secondary special          ...                 0        0
3      Secondary / secondary special          ...                 0        0
4      Secondary / secondary special          ...                 0        0
5      Secondary / secondary special          ...                 0        0
6      Secondary / secondary special          ...                 0        0
7                   Higher education          ...                 0        0
8                   Higher education          ...                 0        0
9                   Higher education          ...                 0        0
10                  Higher education          ...                 0        0
11     Secondary / secondary special          ...                 0        1
12     Secondary / secondary special          ...                 0        1
13     Secondary / secondary special          ...                 0        1
14     Secondary / secondary special          ...                 0        1
15     Secondary / secondary special          ...                 0        1
16     Secondary / secondary special          ...                 0        1
17                 Incomplete higher          ...                 0        0
18                 Incomplete higher          ...                 0        0
19                  Higher education          ...                 0        0
20     Secondary / secondary special          ...                 0        1
21     Secondary / secondary special          ...                 0        1
22     Secondary / secondary special          ...                 0        1
23     Secondary / secondary special          ...                 0        0
24     Secondary / secondary special          ...                 0        0
25     Secondary / secondary special          ...                 0        1
26     Secondary / secondary special          ...                 0        1
27                  Higher education          ...                 0        0
28                  Higher education          ...                 0        0
29                  Higher education          ...                 0        0
...                              ...          ...               ...      ...
36427  Secondary / secondary special          ...                 0        0
36428  Secondary / secondary special          ...                 0        0
36429  Secondary / secondary special          ...                 0        0
36430  Secondary / secondary special          ...                 0        0
36431  Secondary / secondary special          ...                 0        0
36432  Secondary / secondary special          ...                 0        0
36433  Secondary / secondary special          ...                 0        0
36434  Secondary / secondary special          ...                 0        0
36435  Secondary / secondary special          ...                 0        0
36436  Secondary / secondary special          ...                 0        0
36437  Secondary / secondary special          ...                 0        0
36438  Secondary / secondary special          ...                 0        0
36439  Secondary / secondary special          ...                 0        0
36440  Secondary / secondary special          ...                 0        0
36441  Secondary / secondary special          ...                 0        0
36442  Secondary / secondary special          ...                 0        0
36443  Secondary / secondary special          ...                 0        0
36444  Secondary / secondary special          ...                 0        1
36445  Secondary / secondary special          ...                 0        1
36446  Secondary / secondary special          ...                 0        1
36447  Secondary / secondary special          ...                 0        1
36448  Secondary / secondary special          ...                 0        1
36449               Higher education          ...                 0        0
36450  Secondary / secondary special          ...                 0        0
36451  Secondary / secondary special          ...                 0        0
36452  Secondary / secondary special          ...                 0        0
36453  Secondary / secondary special          ...                 0        0
36454  Secondary / secondary special          ...                 0        0
36455  Secondary / secondary special          ...                 0        0
36456  Secondary / secondary special          ...                 0        0

       Low-skill Laborers  Managers  Medicine staff  Private service staff  \
0                       0         0               0                      0
1                       0         0               0                      0
2                       0         0               0                      0
3                       0         0               0                      0
4                       0         0               0                      0
5                       0         0               0                      0
6                       0         0               0                      0
7                       0         0               0                      0
8                       0         0               0                      0
9                       0         0               0                      0
10                      0         0               0                      0
11                      0         0               0                      0
12                      0         0               0                      0
13                      0         0               0                      0
14                      0         0               0                      0
15                      0         0               0                      0
16                      0         0               0                      0
17                      0         0               0                      0
18                      0         0               0                      0
19                      0         0               0                      0
20                      0         0               0                      0
21                      0         0               0                      0
22                      0         0               0                      0
23                      0         0               0                      0
24                      0         0               0                      0
25                      0         0               0                      0
26                      0         0               0                      0
27                      0         1               0                      0
28                      0         1               0                      0
29                      0         1               0                      0
...                   ...       ...             ...                    ...
36427                   0         0               0                      0
36428                   0         0               0                      0
36429                   0         0               0                      0
36430                   0         0               0                      0
36431                   0         0               0                      0
36432                   0         0               0                      0
36433                   0         0               1                      0
36434                   0         0               1                      0
36435                   0         0               1                      0
36436                   0         0               0                      0
36437                   0         0               0                      0
36438                   0         0               0                      0
36439                   0         0               0                      0
36440                   0         0               0                      0
36441                   0         0               0                      0
36442                   0         0               0                      0
36443                   0         0               0                      0
36444                   0         0               0                      0
36445                   0         0               0                      0
36446                   0         0               0                      0
36447                   0         0               0                      0
36448                   0         0               0                      0
36449                   0         0               0                      0
36450                   0         0               0                      0
36451                   0         0               0                      0
36452                   0         0               0                      0
36453                   0         0               0                      0
36454                   0         0               0                      0
36455                   0         0               0                      0
36456                   0         0               0                      0

       Realty agents  Sales staff Security staff  Waiters/barmen staff
0                  0            0              0                     0
1                  0            0              0                     0
2                  0            0              1                     0
3                  0            1              0                     0
4                  0            1              0                     0
5                  0            1              0                     0
6                  0            1              0                     0
7                  0            0              0                     0
8                  0            0              0                     0
9                  0            0              0                     0
10                 0            0              0                     0
11                 0            0              0                     0
12                 0            0              0                     0
13                 0            0              0                     0
14                 0            0              0                     0
15                 0            0              0                     0
16                 0            0              0                     0
17                 0            0              0                     0
18                 0            0              0                     0
19                 0            0              0                     0
20                 0            0              0                     0
21                 0            0              0                     0
22                 0            0              0                     0
23                 0            0              0                     0
24                 0            0              0                     0
25                 0            0              0                     0

In [13]:
finalpto = cardfos.drop(['CODE_GENDER', "ID", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "NAME_INCOME_TYPE",'NAME_EDUCATION_TYPE'], axis = 'columns')

In [14]:
finalptt = finalpto.drop(['NAME_HOUSING_TYPE','NAME_FAMILY_STATUS','OCCUPATION_TYPE'], axis = 'columns')
print(finalptt)

       MONTHS_BALANCE STATUS  CNT_CHILDREN  AMT_INCOME_TOTAL  DAYS_BIRTH  \
0                   0      C             0          427500.0      -12005
1                   0      C             0          427500.0      -12005
2                   0      C             0          112500.0      -21474
3                   0      0             0          270000.0      -19110
4                 -22      X             0          270000.0      -19110
5                   0      C             0          270000.0      -19110
6                   0      C             0          270000.0      -19110
7                  -4      0             0          283500.0      -22464
8                   0      0             0          283500.0      -22464
9                  -1      0             0          283500.0      -22464
10                  0      0             0          270000.0      -16872
11                -10      X             0          135000.0      -17778
12                 -8      X             0          135000.0      -17778
13                  0      X             0          135000.0      -17778
14                -14      X             0          135000.0      -17778
15                 -3      X             0          135000.0      -17778
16                  0      0             0          135000.0      -17778
17                  0      0             0          130500.0      -10669
18                 -1      C             0          130500.0      -10669
19                  0      C             0          180000.0      -18772
20                  0      C             0          157500.0      -10031
21                  0      C             0          157500.0      -10031
22                  0      C             0          157500.0      -10031
23                  0      C             1          112500.0      -10968
24                -28      X             1          112500.0      -10968
25                 -8      C             3          270000.0      -12689
26                 -2      C             3          270000.0      -12689
27                 -9      X             1          405000.0      -11842
28                  0      C             1          405000.0      -11842
29                  0      C             1          405000.0      -11842
...               ...    ...           ...               ...         ...
36427             -11      C             0           67500.0      -22116
36428               0      C             0           67500.0      -22116
36429               0      C             0           67500.0      -22116
36430               0      C             0           67500.0      -22116
36431               0      C             0           67500.0      -22116
36432               0      C             0           67500.0      -22116
36433              -5      X             0          112500.0       -9874
36434               0      0             0          112500.0       -9874
36435               0      0             1          135000.0      -16302
36436               0      C             1          112500.0      -14234
36437               0      X             1          112500.0      -14234
36438               0      1             1          112500.0      -14234
36439               0      C             1          112500.0      -14234
36440               0      0             1          112500.0      -14234
36441               0      0             1          112500.0      -14234
36442             -46      X             0          180000.0      -17713
36443               0      0             0          180000.0      -17713
36444               0      0             0          202500.0      -10886
36445               0      C             0          202500.0      -10886
36446             -13      X             0          202500.0      -10886
36447               0      X             0          202500.0      -10886
36448               0      C             0          202500.0      -10886
36449               0      C             0           90000.0      -12414
36450             -24      C             1          157500.0      -10808
36451               0      X             1          157500.0      -10808
36452             -11      C             1          157500.0      -10808
36453               0      X             1          157500.0      -10808
36454               0      C             1          157500.0      -10808
36455               0      0             1          157500.0      -10808
36456               0      C             0          202500.0      -19398

       DAYS_EMPLOYED  FLAG_MOBIL  FLAG_WORK_PHONE  FLAG_PHONE  FLAG_EMAIL  \
0              -4542           1                1           0           0
1              -4542           1                1           0           0
2              -1134           1                0           0           0
3              -3051           1                0           1           1
4              -3051           1                0           1           1
5              -3051           1                0           1           1
6              -3051           1                0           1           1
7             365243           1                0           0           0
8             365243           1                0           0           0
9             365243           1                0           0           0
10              -769           1                1           1           1
11             -1194           1                0           0           0
12             -1194           1                0           0           0
13             -1194           1                0           0           0
14             -1194           1                0           0           0
15             -1194           1                0           0           0
16             -1194           1                0           0           0
17             -1103           1                0           0           0
18             -1103           1                0           0           0
19            365243           1                0           0           0
20             -1469           1                0           1           0
21             -1469           1                0           1           0
22             -1469           1                0           1           0
23             -1620           1                0           0           0
24             -1620           1                0           0           0
25             -1163           1                0           0           0
26             -1163           1                0           0           0
27             -2016           1                0           0           0
28             -2016           1                0           0           0
29             -2016           1                0           0           0
...              ...         ...              ...         ...         ...
36427         365243           1                0           0           0
36428         365243           1                0           0           0
36429         365243           1                0           0           0
36430         365243           1                0           0           0
36431         365243           1                0           0           0
36432         365243           1                0           0           0
36433          -1650           1                1           0           0
36434          -1650           1                1           0           0
36435          -8894           1                0           0           0
36436           -309           1                0           0           0
36437           -309           1                0           0           0
36438           -309           1                0           0           0
36439           -309           1                0           0           0
36440           -309           1                0           0           0
36441           -309           1                0           0           0
36442          -2441           1                0           0           0
36443          -2441           1                0           0           0
36444          -1315           1                1           0           0
36445          -1315           1                1           0           0
36446          -1315           1                1           0           0
36447          -1315           1                1           0           0
36448          -1315           1                1           0           0
36449           -128           1                0           0           0
36450          -1739           1                0           0           0
36451          -1739           1                0           0           0
36452          -1739           1                0           0           0
36453          -1739           1                0           0           0
36454          -1739           1                0           0           0
36455          -1739           1                0           0           0
36456          -2166           1                0           0           0

               ...           IT staff  Laborers  Low-skill Laborers  Managers  \
0              ...                  0         0                   0         0
1              ...                  0         0                   0         0
2              ...                  0         0                   0         0
3              ...                  0         0                   0         0
4              ...                  0         0                   0         0
5              ...                  0         0                   0         0
6              ...                  0         0                   0         0
7              ...                  0         0                   0         0
8              ...                  0         0                   0         0
9              ...                  0         0                   0         0
10             ...                  0         0                   0         0
11             ...                  0         1                   0         0
12             ...                  0         1                   0         0
13             ...                  0         1                   0         0
14             ...                  0         1                   0         0
15             ...                  0         1                   0         0
16             ...                  0         1                   0         0
17             ...                  0         0                   0         0
18             ...                  0         0                   0         0
19             ...                  0         0                   0         0
20             ...                  0         1                   0         0
21             ...                  0         1                   0         0
22             ...                  0         1                   0         0
23             ...                  0         0                   0         0
24             ...                  0         0                   0         0
25             ...                  0         1                   0         0
26             ...                  0         1                   0         0
27             ...                  0         0                   0         1
28             ...                  0         0                   0         1
29             ...                  0         0                   0         1
...            ...                ...       ...                 ...       ...
36427          ...                  0         0                   0         0
36428          ...                  0         0                   0         0
36429          ...                  0         0                   0         0
36430          ...                  0         0                   0         0
36431          ...                  0         0                   0         0
36432          ...                  0         0                   0         0
36433          ...                  0         0                   0         0
36434          ...                  0         0                   0         0
36435          ...                  0         0                   0         0
36436          ...                  0         0                   0         0
36437          ...                  0         0                   0         0
36438          ...                  0         0                   0         0
36439          ...                  0         0                   0         0
36440          ...                  0         0                   0         0
36441          ...                  0         0                   0         0
36442          ...                  0         0                   0         0
36443          ...                  0         0                   0         0
36444          ...                  0         1                   0         0
36445          ...                  0         1                   0         0
36446          ...                  0         1                   0         0
36447          ...                  0         1                   0         0
36448          ...                  0         1                   0         0
36449          ...                  0         0                   0         0
36450          ...                  0         0                   0         0
36451          ...                  0         0                   0         0
36452          ...                  0         0                   0         0
36453          ...                  0         0                   0         0
36454          ...                  0         0                   0         0
36455          ...                  0         0                   0         0
36456          ...                  0         0                   0         0

       Medicine staff  Private service staff  Realty agents  Sales staff  \
0                   0                      0              0            0
1                   0                      0              0            0
2                   0                      0              0            0
3                   0                      0              0            1
4                   0                      0              0            1
5                   0                      0              0            1
6                   0                      0              0            1
7                   0                      0              0            0
8                   0                      0              0            0
9                   0                      0              0            0
10                  0                      0              0            0
11                  0                      0              0            0
12                  0                      0              0            0
13                  0                      0              0            0
14                  0                      0              0            0
15                  0                      0              0            0
16                  0                      0              0            0
17                  0                      0              0            0
18                  0                      0              0            0
19                  0                      0              0            0
20                  0                      0              0            0
21                  0                      0              0            0
22                  0                      0              0            0
23                  0                      0              0            0
24                  0                      0              0            0
25                  0                      0              0            0
26                  0                      0              0            0
27                  0                      0              0            0
28                  0                      0              0            0
29                  0                      0              0            0
...               ...                    ...            ...          ...
36427               0                      0              0            0
36428               0                      0              0            0
36429               0                      0              0            0
36430               0                      0              0            0
36431               0                      0              0            0
36432               0                      0              0            0
36433               1                      0              0            0
36434               1                      0              0            0
36435               1                      0              0            0
36436               0                      0              0            0
36437               0                      0              0            0
36438               0                      0              0            0
36439               0                      0              0            0
36440               0                      0              0            0
36441               0                      0              0            0
36442               0                      0              0            0
36443               0                      0              0            0
36444               0                      0              0            0
36445               0                      0              0            0
36446               0                      0              0            0
36447               0                      0              0            0
36448               0                      0              0            0
36449               0                      0              0            0
36450               0                      0              0            0
36451               0                      0              0            0
36452               0                      0              0            0
36453               0                      0              0            0
36454               0                      0              0            0
36455               0                      0              0            0
36456               0                      0              0            0

       Security staff  Waiters/barmen staff
0                   0                     0
1                   0                     0
2                   1                     0
3                   0                     0
4                   0                     0
5                   0                     0
6                   0                     0
7                   0                     0
8                   0                     0
9                   0                     0
10                  0                     0
11                  0                     0
12                  0                     0
13                  0                     0
14                  0                     0
15                  0                     0
16                  0                     0
17                  0                     0
18                  0                     0
19                  0                     0
20                  0                     0
21                  0                     0
22                  0                     0
23                  0                     0
24                  0                     0
25                  0                     0
26                  0                     0
27                  0                     0
28                  0                     0
29                  0                     0
...               ...                   ...
36427               0                     0
36428               0                     0

In [15]:
print(finalptt.columns.tolist())

['MONTHS_BALANCE', 'STATUS', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'F', '0', '1', '2', '3', '4', '5', 'X', 'N', 'Commercial associate', 'State servant', 'Student', 'Working', 'Civil marriage', 'Separated', 'Single / not married', 'Widow', 'Co-op apartment', 'House / apartment', 'Municipal apartment', 'Office apartment', 'Rented apartment', 'Academic degree', 'Incomplete higher', 'Lower secondary', 'Secondary / secondary special', 'Accountants', 'Cleaning staff', 'Cooking staff', 'Core staff', 'Drivers', 'HR staff', 'High skill tech staff', 'IT staff', 'Laborers', 'Low-skill Laborers', 'Managers', 'Medicine staff', 'Private service staff', 'Realty agents', 'Sales staff', 'Security staff', 'Waiters/barmen staff']

In [16]:
yoneh = pd.get_dummies(finalptt.STATUS)
print(yoneh)
ylog = yoneh.C
print(ylog)

       0  1  2  3  4  5  C  X
0      0  0  0  0  0  0  1  0
1      0  0  0  0  0  0  1  0
2      0  0  0  0  0  0  1  0
3      1  0  0  0  0  0  0  0
4      0  0  0  0  0  0  0  1
5      0  0  0  0  0  0  1  0
6      0  0  0  0  0  0  1  0
7      1  0  0  0  0  0  0  0
8      1  0  0  0  0  0  0  0
9      1  0  0  0  0  0  0  0
10     1  0  0  0  0  0  0  0
11     0  0  0  0  0  0  0  1
12     0  0  0  0  0  0  0  1
13     0  0  0  0  0  0  0  1
14     0  0  0  0  0  0  0  1
15     0  0  0  0  0  0  0  1
16     1  0  0  0  0  0  0  0
17     1  0  0  0  0  0  0  0
18     0  0  0  0  0  0  1  0
19     0  0  0  0  0  0  1  0
20     0  0  0  0  0  0  1  0
21     0  0  0  0  0  0  1  0
22     0  0  0  0  0  0  1  0
23     0  0  0  0  0  0  1  0
24     0  0  0  0  0  0  0  1
25     0  0  0  0  0  0  1  0
26     0  0  0  0  0  0  1  0
27     0  0  0  0  0  0  0  1
28     0  0  0  0  0  0  1  0
29     0  0  0  0  0  0  1  0
...   .. .. .. .. .. .. .. ..
36427  0  0  0  0  0  0  1  0
36428  0  0  0  0  0  0  1  0
36429  0  0  0  0  0  0  1  0
36430  0  0  0  0  0  0  1  0
36431  0  0  0  0  0  0  1  0
36432  0  0  0  0  0  0  1  0
36433  0  0  0  0  0  0  0  1
36434  1  0  0  0  0  0  0  0
36435  1  0  0  0  0  0  0  0
36436  0  0  0  0  0  0  1  0
36437  0  0  0  0  0  0  0  1
36438  0  1  0  0  0  0  0  0
36439  0  0  0  0  0  0  1  0
36440  1  0  0  0  0  0  0  0
36441  1  0  0  0  0  0  0  0
36442  0  0  0  0  0  0  0  1
36443  1  0  0  0  0  0  0  0
36444  1  0  0  0  0  0  0  0
36445  0  0  0  0  0  0  1  0
36446  0  0  0  0  0  0  0  1
36447  0  0  0  0  0  0  0  1
36448  0  0  0  0  0  0  1  0
36449  0  0  0  0  0  0  1  0
36450  0  0  0  0  0  0  1  0
36451  0  0  0  0  0  0  0  1
36452  0  0  0  0  0  0  1  0
36453  0  0  0  0  0  0  0  1
36454  0  0  0  0  0  0  1  0
36455  1  0  0  0  0  0  0  0
36456  0  0  0  0  0  0  1  0

[36457 rows x 8 columns]
0        1
1        1
2        1
3        0
4        0
5        1
6        1
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       1
19       1
20       1
21       1
22       1
23       1
24       0
25       1
26       1
27       0
28       1
29       1
        ..
36427    1
36428    1
36429    1
36430    1
36431    1
36432    1
36433    0
36434    0
36435    0
36436    1
36437    0
36438    0
36439    1
36440    0
36441    0
36442    0
36443    0
36444    0
36445    1
36446    0
36447    0
36448    1
36449    1
36450    1
36451    0
36452    1
36453    0
36454    1
36455    0
36456    1
Name: C, Length: 36457, dtype: uint8

In [17]:
finalx = finalptt.drop(['STATUS'], axis='columns')

In [18]:
X_train, X_test, y_train, y_test = train_test_split(finalx, ylog, test_size=0.2)
model = LogisticRegression()

In [19]:
model.fit(X_train,y_train)

/home/samtaecay/anaconda3/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [21]:
ypred = model.predict(X_test)

In [22]:
confusion_matrix(y_test, ypred)

array([[3614,   84],
       [   0, 3594]])

In [26]:
accuracy = (3614+3594)/(3614+84+3594)
precision = 3614/(3614+84)
recall = 1.0
f1 = (2*precision*recall)/(precision+recall)
print(f1)
print(accuracy)

0.9885120350109409
0.988480526604498